apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: reviews
  namespace: reviews
spec:
  hosts:
    - reviews
  http:
    - route:
        - destination:
            host: reviews
            subset: v1
          weight: 34
        - destination:
            host: reviews
            subset: v2
          weight: 33
        - destination:
            host: reviews